<md-dialog aria-label="Mango (Fruit)">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{project.name}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="width:800px;height:810px; ">
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Overview">
          <md-content class="md-padding">
            <h1 class="md-display-2">Overview</h1>
            <p style="font-size: 20px;">{{project.overview}}</p>
            <p style="font-size: 18px;">{{project.details}}</p>
            <p style="font-size: 18px;">Starting from: {{project.time}}</p>
          </md-content>
        </md-tab>
        <md-tab label="Images">
          <md-content class="md-padding">
            <h1 class="md-display-2">Images</h1>
            <p>No Images right now!</p>
          </md-content>
        </md-tab>
        <md-tab label="Links">
          <md-content class="md-padding">
            <h1 class="md-display-2">Links</h1>
            <md-button ng-href="{{project.link1}}" class="md-raised">GitHub</md-button>
            <md-button ng-href="{{project.link1}}" class="md-raised md-primary">Others</md-button>
          </md-content>
        </md-tab>
      </md-tabs>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button ng-click="cancel()">
        Close
      </md-button>
      <span flex></span>
      <md-button ng-click="answer('useful')" style="margin-right:20px;" >
        Cool!
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
