@charset "UTF-8";
/* CSS Document */

body {
    margin: 0px;
    display: block;
    font-family: 'Product Sans', Arial, sans-serif;
    font-weight: 400;
    color: white;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

/* MAIN-SECTION */

.main {
    text-align: center;
    padding-bottom: 15%;
}

.logo_container {
    background-color: #094AB2;
    margin-top: 0px;
}

.logo {
    color: white;
    font-size: 48px;
    padding-left: 10px;
    margin-top: 20px;
}

.tiles {
    background-color: #0A5BC4;
}

.title {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    padding-top: 0px;
    font-size: 20px;
}

/* Code from the Argo ---------------------------*/
/*.brow {*/
  /*margin-left: 20%;*/
/*}*/
.brow:before,
.brow:after {
  display: table;
  content: "";
  line-height: 0;
}
.brow:after {
  clear: both;
}
[class*="brick"] {
  float: left;
  min-height: 1px;
  margin-left: 0px;
}
.navbar .container {
  width: 1170px;
}

.brick1 {
  width: 160px;
  height: 160px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
}

.boffset1 {
  margin-left: 160px;
}

/**
 * HEADER
 * -------------------------------------------------------------
 */

 .transparent {
  background: none;
}

 .logo_container .logo a:hover,
 .logo_container .logo a:focus,
 .logo_container .logo a:active {
  color: #ffffff;
  text-decoration: none;
}
 .nav-item {
  position: relative;
  display: block;
  width: 90%;
  height: 90%;
  text-align: left;
  font-size: 19.2px;
}
 .nav-item .nav-hover {
  content: '';
  display: block;
  position: absolute;
  width: 160px;
  height: 160px;
  top: -8px;
  left: -8px;
  border: 8px solid rgba(255, 255, 255, 0.5);
  opacity: 0;
  z-index: 1;
  -webkit-transition: 0.2s ease-in-out all;
  -moz-transition: 0.2s ease-in-out all;
  -o-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all;
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
  transform: scale(0.95);
}
 .nav-item:hover,
 .nav-item:active,
 .nav-item:focus {
  color: #fff;
  text-decoration: none;
}
 .nav-item:hover .nav-hover {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

 .thumb {
  background: none;
  margin: 0px;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -ms-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
}

 .thumb .nav-item {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: transform 1s;
  -moz-transition: transform 1s;
  -o-transition: transform 1s;
  transition: transform 1s;
  -webkit-transition: -webkit-transform 1s;
}
 .thumb .nav-item img {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

 .thumb .nav-hover {
  display: none;
}

/* END of Code from Argo --------------------- */

/* END of MAIN-SCECTION */


/* ABOUT-ME */

.about-me {
    background:

    /* top, transparent red, faked with gradient */
    linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    /* bottom, image */
    url("images/resources/header-bg.jpg");
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 736px;
    padding-top: 100px;
    padding-bottom: 5%;
    color: white;
    width: 100%;
}

.abouth1 {
    margin-top: 0px;
    font-size: 80px;
    text-align: center;
}

.about_article {
    padding-left: 10%;
    padding-right: 10%;
    font-size: 30px;
}

.about_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* END of ABOUT-ME */

/* Projects */
.projects {
    background:

    /* top, transparent red, faked with gradient */
    linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    /* bottom, image */
    url("images/resources/workspace.jpg");
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 736px;
    padding-top: 100px;
    padding-bottom: 5%;
    color: white;
    width: 100%;
}

/* END of Projects */

/* Resume */

.resume {
    background:

    /* top, transparent red, faked with gradient */
    linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    /* bottom, image */
    url("images/resources/header-bg.jpg");
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 736px;
    padding-top: 100px;
    padding-bottom: 5%;
    color: white;
    width: 100%;
}

/* Contact */
.contact {
    background:

    /* top, transparent red, faked with gradient */
    linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    /* bottom, image */
    url("images/resources/keyborad.jpg");
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 736px;
    padding-top: 100px;
    padding-bottom: 5%;
    color: white;
    width: 100%;
}
