
/* General */
.main {
    padding:0;
    padding-top: 7%;
    padding-left: 10%;
    margin-left: auto;
    margin-right: auto;
    min-height: 620px;
}

hr {
    margin: 20px;
}

@media screen and (min-width: 376px) {
   .main {
       padding-left: 15%;
       padding-top: 10%;
   }
}

.fa {
    font-size: 70px;
    padding-left: 30%;
    padding-right: 30%;
}

/* Main */
.menu {
    display: none;
}

.logo {
    font-size: 40px;
    padding: 0;
}

.empty {
    display: none;
}
.brick1 {
    width: 144px;
    height: 144px;
    padding: 10px;
    padding-top: 15px;
}

.thumb {
    padding: 0;
    margin: 5px;
    margin-top: 0;
}

.img-brick {
    display: none;
}

.hidden_m {
  visibility: hidden;
}

#ex {
  margin-left: 0;
}

/* About Me */
.abouth1 {
    font-size: 40px;
    text-align: center;
}
.about_article {
    font-size: 16px;
}

/* Projects */
.projects {
    padding-top: 5%;
    padding-left: 0;
    padding-right: 0;
}

.project_name {
    font-size: 20px;
    text-align: center;
}

.projects_list {
    padding: 0;
    margin: 0;
}

/* Education */
.resume {
    padding:0;
    padding-top: 5%;
}

.md-avatar {
    transform: scale(0.8,0.8);
}
.card-actions {
    display: none;
}

.md-headline {
    font-size: 17px;
    color: black;
}

.high_school {
    display: none;
}

.md-subhead-mobile {
    display: block;
}

/* Contact */
.contact {
    padding:0;
    padding-top: 5%;
}

.fa-instagram {
    font-size: 64px;
}
